node_modules
package-lock.json
*.cache
*.pyc

backup/password

fish/*
!fish/config.fish
!fish/fish_variables
!fish/functions
fish/functions/fisher.fish

micro/buffers
micro/backups

ranger/*
!ranger/rc.conf
!ranger/rifle.conf
!ranger/plugins

sublime-text/Color Highlighter
sublime-text/Emmet.sublime-settings
sublime-text/Markdown.sublime-settings
