node_modules
package-lock.json
*.pyc
*.cache

fish/*
!fish/config.fish
!fish/fish_variables
!fish/functions

ranger/*
!ranger/rc.conf
!ranger/rifle.conf
!ranger/plugins

micro/buffers
micro/backups

sublime-text/Color-Highlighter/icons
sublime-text/Emmet.sublime-settings
sublime-text/Markdown.sublime-settings
