[submodule "micro/plug/editorconfig"]
	path = micro/plug/editorconfig
	url = https://github.com/10sr/editorconfig-micro
[submodule "afetch"]
	path = afetch
	url = git@github.com:katacarbix/afetch.git
