[submodule "micro/plug/editorconfig"]
	path = micro/plug/editorconfig
	url = https://github.com/10sr/editorconfig-micro
[submodule "afetch"]
	path = afetch
	url = https://github.com/katacarbix/afetch.git
[submodule "micro/plug/micro-quoter"]
	path = micro/plug/micro-quoter
	url = https://github.com/deusnefum/micro-quoter.git
