configuration {
	theme: "~/.cache/wal/colors.rasi";
	modi: "window,drun,run,ssh,calc";
	width: 30;
	lines: 12;
	font: "Fira Code 12";
	show-icons: true;
	hide-scrollbar: true;
	terminal: "kitty";
	ssh-command: "{terminal} {ssh-client} {host}";
	run-command: "{cmd}";
	run-shell-command: "{terminal} --hold {cmd}";
	sort: false;
}
