configuration {
	theme: "~/.cache/wal/colors.rasi";
	modi: "window,drun,run,ssh,file-browser";
	width: 30;
	lines: 12;
	font: "FiraCode Nerd Font 13";
	show-icons: true;
	hide-scrollbar: true;
	terminal: "kitty";
	ssh-command: "{terminal} ssh-et -X {host}";
	run-command: "{cmd}";
	run-shell-command: "{terminal} --hold {cmd}";
	sort: false;
	scroll-method: 1;
}
