/*** Proton Tabs Tweaks ***/

/* Adjust tab corner shape, optionally remove space below tabs */

:root {
	--tabs-border-color: transparent !important; /* border surrounding tab and toolbar */
}
#tabbrowser-tabs {
	--user-tab-rounding: 0px;
}
toolbar .toolbarbutton-1 > .toolbarbutton-icon {
	border-radius: 0 !important;
}
/* Remove spacing between tabs */
.tabbrowser-tab {
	padding-inline: 0 !important;
}

@media (-moz-proton) {
	.tab-background {
		border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;
		margin-block: 1px 0 !important;
	}
	#scrollbutton-up, #scrollbutton-down { /* 6/10/2021 */
		border-top-width: 1px !important;
		border-bottom-width: 0 !important;
	}
	/* Container color bar visibility */
	.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
		margin: 0px max(calc(var(--user-tab-rounding) - 3px), 0px) !important;
	}
}

/* Tweak Options as of 6/10/2021; Generated Sat Jun 12 2021 00:07:52 GMT-0500 (Central Daylight Time) */
