"*":
  "Chromo-Color-Previews":
    supportedTypes:
      colorName: false
  "autoclose-html-plus":
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "span"
      "p"
      "li"
    ]
    makeNeverCloseSelfClosing: false
  "build-sassc":
    customArguments: "--style compact {FILE_ACTIVE} {FILE_ACTIVE_NAME_BASE}.css"
  core:
    allowPendingPaneItems: false
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "background-tips"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    themes: [
      "fang-ui"
      "eupho-syntax"
    ]
  editor:
    atomicSoftTabs: false
    fontFamily: "FiraCode-Retina, monospace, Noto Color Emoji, FiraCode Nerd Font"
    fontSize: 20
    preferredLineLength: 8000
    scrollPastEnd: true
    showIndentGuide: true
    softTabs: false
    softWrap: true
    tabLength: 4
    undoGroupingInterval: 600
  "exception-reporting":
    userId: "3c20228a-6ff3-4069-a341-36a1fce2de05"
  firacode:
    scopes: [
      "*"
    ]
  fonts:
    fontFamily: "FiraCode Retina"
    secondaryFonts: "monospace, Noto Color Emoji, FiraCode Nerd Font"
  "markdown-preview":
    breakOnSingleNewline: true
  "markdown-writer":
    tableAlignment: "left"
    tableExtraPipes: true
  processing: {}
  script:
    cwdBehavior: "Directory of the script"
    ignoreSelection: true
    stopOnRerun: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnlyLines: true
".ini.source":
  editor:
    autoIndent: false
